<div class="container__big-card">
    <div class="big-card__photo"> 
        <img src="https://storage.googleapis.com/proudcity/mebanenc/uploads/2021/03/placeholder-image.png" alt="" height="250px">
    </div>
    <div class="big-card__title">
        <h1>
            <a href="#">Saiu a nova versão do Angular</a>
        </h1>
    </div>
    <div class="big-card__description">
        <p><a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus, quia, dolores amet quisquam harum repudiandae itaque libero quas ex odio expedita totam aliquam laborum ad. Accusamus inventore doloribus quibusdam dolores!</a></p>
    </div>
</div>
